---
layout: default
title: Art Gallery
---

<main id="main" class="site-main">
    <div class="post-full inner">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>
        <p>Here you will find a selection of my original paleoart compiled onto one page, listed from newest to oldest. You can also find them in their original posts (linked at the top of each section), which also contain more detailed captions and other info.</p>
        <div class="post-content inner">
            <h2 id="May-2020">April 2020</h2>
            <p><a href="https://obscuredinosaurfacts.com/blog/post/2020/04/18/aprilart.html">April Art original post</a></p>
            <ul class="archive-posts-list">
                {% include image-caption.html imageurl="/assets/images/posts/thanatotheristes.png#wide" title="Thanatotheristes" caption="Thanatotheristes in the colors of a bearded vulture." %}

                {% include image-caption.html imageurl="/assets/images/posts/siamraptor.png#wide" title="Siamraptor" caption="Siamraptor in the colors of a Philippine eagle." %}
                
                {% include image-caption.html imageurl="/assets/images/posts/garudimimus.png#wide" title="Garudimimus" caption="Garudimimus in the colors of a common crane." %}
                
                {% include image-caption.html imageurl="/assets/images/posts/tsaagan.png#wide" title="Tsaagan" caption="Tsaagan in the colors of a prairie falcon." %}
                
                {% include image-caption.html imageurl="/assets/images/posts/hesperonychus.png#wide" title="Hesperonychus" caption="Hesperonychus in the colors of a black palm cockatoo." %}
                
                {% include image-caption.html imageurl="/assets/images/posts/latenivenatrix.png#wide" title="Latenivenatrix" caption="Latenivenatrix in the colors of a harpy eagle." %}
                
                {% include image-caption.html imageurl="/assets/images/posts/buitreraptor.jpg#wide" title="Buitreraptor" caption="Buitreraptor in the plumage of a hamerkop." %}
                
                {% include image-caption.html imageurl="/assets/images/posts/therizinosaurus.png#wide" title="Therizinosaurus" caption="Therizinosaurus in the colors of a vulturine guinea fowl." %}
                
                {% include image-caption.html imageurl="/assets/images/posts/thescelosaurus.jpg#wide" title="Thescelosaurus" caption="Thescelosaurus in the colors of a wood grouse." %}
                
                {% include image-caption.html imageurl="/assets/images/posts/qianzhousaurus-portrait.png#wide" title="Qianzhousaurus" caption="Qianzhousaurus in the colors of a roadrunner." %}
                
                {% include image-caption.html imageurl="/assets/images/posts/medusaceratops.png#wide" title="Medusaceratops" caption="Medusaceratops in 'thermal nude'." %}
                
                {% include image-caption.html imageurl="/assets/images/posts/aucasaurus.png#wide" title="Aucasaurus" caption="Aucasaurus in the colors of Tigrex, a fictional creature from the Monster Hunter franchise." %}
            </ul>
            <div>
                <a href="/art/may-2020">Back to Newer</a>
                <a href="/art/alphabestiary">Older Art</a>
            </div><!-- .post-tags -->
        </div><!-- .entry-box -->
    </div><!-- .inner -->
</main><!-- .site-main -->