---
layout: default
title: Art Gallery
---

<main id="main" class="site-main">
    <div class="post-full inner">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>
        <p>Here you will find a selection of my original paleoart compiled onto one page, listed from newest to oldest. You can also find them in their original posts (linked at the top of each section), which also contain more detailed captions and other info.</p>
        <div class="post-content inner">
            <h2 id="2026">2026</h2>
            <p><a href="https://obscuredinosaurfacts.com/blog/post/2024/03/06/portrait.html">Portrait drawing original post</a></p>
            <ul class="archive-posts-list">
                {% include image-caption.html imageurl="/assets/images/posts/naledi.png#wide" title="H. naledi" caption="The small, arboreal Homo naledi."%}

                {% include image-caption.html imageurl="/assets/images/posts/synapsids.png#wide" title="Permian synapsids" caption="A comprehensive map of all genera of synapsids (mammal relatives) alive at the end of the Permian Period."%}

                {% include image-caption.html imageurl="/assets/images/posts/pangea.png#wide" title="Triassic reptiles" caption="A comprehensive map of all genera of reptiles alive at the beginning of the Late Triassic Period."%}

                {% include image-caption.html imageurl="/assets/images/posts/neanderthal1.png#wide" title="Neanderthal" caption="A handsome Neanderthal."%}

                {% include image-caption.html imageurl="/assets/images/pages/sarcosuchus.png#wide" title="Sarcosuchus" caption="The very large Cretaceous croc, Sarcosuchus."%}

                {% include image-caption.html imageurl="/assets/images/posts/ornitho.jpeg#wide" title="Ornithomimus" caption="The ostrichlike Cretaceous dinosaur Ornithomimus."%}

                {% include image-caption.html imageurl="/assets/images/posts/lynch.png#wide" title="Jane Lynch" caption="A portrait of Jane Lynch from photo reference."%}

                {% include image-caption.html imageurl="/assets/images/posts/pedro.png#wide" title="Pedro Pascal" caption="A portrait of Pedro Pascal from photo reference."%}

                {% include image-caption.html imageurl="/assets/images/posts/steph.png#wide" title="Steph" caption="A portrait of Steph Curry contemplating a free throw. Freehand on the left, corrected proportions on the right."%}

                {% include image-caption.html imageurl="/assets/images/posts/falconry-stats.png" title="Falconry" caption="Choose your fighter!!!"%}

                {% include image-caption.html imageurl="/assets/images/pages/tarbosaurus.jpg#wide" title="Tarbosaurus" caption="The Asian, desert-dwelling relative of T. rex, Tarbosaurus. A reworking of an earlier very gauche depiction of mine of T. rex."%}
                
            </ul>
            <div>
                <a href="/art/summer-2023">Older Art</a>
            </div><!-- .post-tags -->
        </div><!-- .entry-box -->
    </div><!-- .inner -->
</main><!-- .site-main -->