---
layout: default
title: Art Gallery
---

<main id="main" class="site-main">
    <div class="post-full inner">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>
        <p>Here you will find a selection of my original paleoart compiled onto one page, listed from newest to oldest. You can also find them in their original posts (linked at the top of each section), which also contain more detailed captions and other info.</p>
        <div class="post-content inner">
            <h2 id="summer-2022">Summer 2022</h2>
            <p><a href="https://obscuredinosaurfacts.com/post/2022/08/10/summerart-2022.html">Summer Art original post</a></p>
            <ul class="archive-posts-list">
                {% include image-caption.html imageurl="/assets/images/posts/ambop.png#wide" title="Ambopteryx" caption="Ambopteryx was a scansoriopterygian (bat-winged birdlike dinosaur) from Late Jurassic China. These were one of the many independently flight-capable birdlike dinosaur groups, and probably one of the worst fliers."%}

                {% include image-caption.html imageurl="/assets/images/posts/anzu-card.png#wide" title="Anzu" caption="Anzu was a large oviraptorosaur from Latest Cretaceous North America. It lived alongside lots of famous dinosaurs, including Tyrannosaurus, Triceratops, and Edmontosaurus."%}

                {% include image-caption.html imageurl="/assets/images/posts/antarcto.png#wide" title="Antacrtopelta" caption="Antarctopelta was a pig-sized ankylosaur from Late Cretaceous Antarctica. The recent discovery of the related dinosaur Stegouros, which possessed a never-before-seen cool tail weapon, makes us think that the closely related Antarctopelta, from which no tail material is known, had one too."%}

                {% include image-caption.html imageurl="/assets/images/posts/amargasaurus.png#wide" title="Amargasaurus" caption="Amargasaurus was a dicraeosaurid sauropod from Early Cretaceous Argentina. Its double-row of elongated neck spines has in the past been thought to have supported a skin sail, or goat-like horns, but now is believed to have been the scaffolding for a bulky, fleshy sail."%}

                {% include image-caption.html imageurl="/assets/images/posts/koreaceratops.png#wide" title="Koreaceratops" caption="Koreaceratops was a small ceratopsian (horn-faced dinosaur related to Protoceratops) from Early Cretaceous Korea. Its skull is not known, which meant I was free to give it whatever spikes and patterns I felt like."%}

                {% include image-caption.html imageurl="/assets/images/posts/qiupanykus.png#wide" title="Qiupanykus" caption="Qiupanykus was an alvarezsaur (small birdlike dinosaur with one big clawed finger on each hand) from Late Cretaceous China. It was found in association with some oviraptorid eggs, leading some to speculate that it was an egg specialist. Is this the sexiest alvarezsaur you've ever seen or what."%}

                {% include image-caption.html imageurl="/assets/images/posts/jeholo.png#wide" title="Jeholosaurus" caption="Jeholosaurus was a small ornithopod (bipedal, herbivorous relative of duck-billed dinosaurs) from Early Cretaceous China. Here it's giving off some strong White Rabbit vibes. I chose all the smallest animals to be my clubs, since that's the smallest suit."%}

                {% include image-caption.html imageurl="/assets/images/posts/kryptops.png#wide" title="Kryptops" caption="Kryptops was a primitive abelisaurid (short-faced, tiny-armed meat-eating dinosaur from the Southern Hemisphere) from Early Cretaceous Niger. Its name means 'hidden face', referring to the texture of its premaxilla which indicates some keratin or toughened skin was firmly attached in life."%}

                {% include image-caption.html imageurl="/assets/images/posts/quetec.png#wide" title="Quetecsaurus" caption="Quetecsaurus (meaning 'fire lizard') was a titanosaur from Late Cretaceous Argentina. It was a member of the clade Lognkosauria, which contains some of the largest land animals ever, such as Puertasaurus, Argentinosaurus, and Patagotitan. However, Quetecsaurus was only a third to half the length, and therefore a ninth to a quarter of the mass, of these giants."%}

                {% include image-caption.html imageurl="/assets/images/posts/jinfeng.png#wide" title="Jinfengopteryx" caption="Jinfengopteryx (meaning 'golden phoenix feather') was a tiny, flight-capable troodontid ('raptor' dinosaur) from Early Cretaceous China. Its fossil preserves long, fancy tail feathers and birdlike body and wing feathers. Here, it's doing its best rubber-duck impression."%}

                {% include image-caption.html imageurl="/assets/images/posts/kentro.png#wide" title="Kentrosaurus" caption="Kentrosaurus (meaning 'prickle reptile') was a very spiky, cow-sized stegosaur from Late Jurassic Tanzania. Not to be confused with Centrosaurus, a ceratopsian. The King of Hearts is nicknamed 'Suicide Sam' because he appears to be stabbing himself in the head with his sword, so I tried to replicate that here."%}

                {% include image-caption.html imageurl="/assets/images/posts/qiupalong.png#wide" title="Qiupalong" caption="Qiupalong was an ornithomimosaur (ostrich-like dinosaur) from Late Cretaceous China and Canada. I know I already did Qiupanykus, but there just aren't that many dinosaurs that start with Q, ok?"%}

                {% include image-caption.html imageurl="/assets/images/posts/jaklapalli.png#wide" title="Jaklapallisaurus" caption="Jaklapallisaurus was a horse-sized sauropodomorph from Late Triassic India. It's unlikely that dinosaurs this primitive had complex feathers like this, but the Jack of Hearts is carrying a feather, so I included more of them."%}

                {% include image-caption.html imageurl="/assets/images/posts/kileskus.png#wide" title="Kileskus" caption="Kileskus was a wolf-sized primitive tyrannosaur from Middle Jurassic Russia. It's too bad that while early tyrannosaurs had cool crests, like Sinotyrannus and Guanlong, the later ones did away with them. I am not super happy with that sphere in the middle, but I wasn't sure what else to do to connect the two heads here."%}

                {% include image-caption.html imageurl="/assets/images/posts/quetzal.png#wide" title="Quetzalcoatlus" caption="Quetzalcoatlus was a giant pterosaur (flying reptile, relative of dinosaurs) from Late Cretaceous North America. The largest species, northropi, honors John Northrop, of Northrop-Grumman, for his development of airplanes that are shaped like this animal."%}

                {% include image-caption.html imageurl="/assets/images/posts/jaxarto.png#wide" title="Jaxartosaurus" caption="Jaxartosaurus was a lambeosaur (crested duck-billed dinosaur) from Late Cretaceous Kazakhstan. I went with all crested animals for the spades, but quickly ran out."%}

                {% include image-caption.html imageurl="/assets/images/posts/jendaya.png#wide" title="Jendaya" caption="Since in my bird deck I used extinct birds for the jokers (Archaeopteryx and Dodo), I thought I'd reverse that here and make the jokers living dinosaurs. Here's a jandaya parakeet, also known as a jenday conure in the pet trade."%}

                {% include image-caption.html imageurl="/assets/images/posts/jaybird.png#wide" title="Jaybird" caption="Since the Steller's Jay was included in my bird deck, I thought I'd do the closely-related blue jay here. If a blue jay is green, is it still a blue jay?"%}

                {% include image-caption.html imageurl="/assets/images/posts/kronosaurus.png#wide" title="Kronosaurus" caption="A Kronosaurus couple renews their pair-bond. It's hard to find art of this fearsome sea monster not attacking things, so I'm trying to balance the scales."%}

                {% include image-caption.html imageurl="/assets/images/posts/shantung.png#wide" title="Shantungosaurus" caption="The giant horselike duck-billed dinosaur, Shantungosaurus, in a sort of ukiyo-e style."%}

                {% include image-caption.html imageurl="/assets/images/posts/suchomimus.png#wide" title="Suchomimus" caption="Suchomimus, the least-aquatic of the spinosaurs recently studied."%}

                {% include image-caption.html imageurl="/assets/images/posts/diplo-lady.png#wide" title="Diplodocus" caption="Diplodocids were definitely the sexiest sauropods."%}

                {% include image-caption.html imageurl="/assets/images/posts/endoceras-calamari.png#wide" title="Endoceras Calamari" caption="Endoceras was an enormous cone-shelled cephalopod from the Ordovician related to modern nautiluses. It was the largest invertebrate to ever live. The ones you could eat would be juveniles (which there would've been a lot of since cephalopods are r-strategists)."%}

                {% include image-caption.html imageurl="/assets/images/posts/edmonto-cut.png#wide" title="Edmontosaurus Cuts" caption="Edmontosaurus was a very large hadrosaur ('duck-billed dinosaur') often called the 'cow of the Cretaceous' due to its advanced chewing and hindgut-fermenting abilities. It would have been good eating for Tyrannosaurus."%}

                {% include image-caption.html imageurl="/assets/images/posts/eurypterus-cakes.png#wide" title="Eurypterus Cakes" caption="Eurypterus was a swimmy arthropod from the Silurian of Eastern North America and parts of Europe. While enormous members of its family like Jaekelopterus are arguably more famous, 98% of eurypterid fossils are Eurypterus, making it one of the best understood creatures of that time."%}

                {% include image-caption.html imageurl="/assets/images/posts/typothorax-luau.png#wide" title="Typothorax Luau" caption="Typothorax was a smallish aëtosaur, or herbivorous croc relative, from Triassic Arizona. It lived alongside famous Triassic creatures like Coelophysis, Placerias, and Postosuchus, and had forelimbs moderately adapted for digging and an upturned snout, indicating that it may have grubbed for roots and tubers."%}

                {% include image-caption.html imageurl="/assets/images/posts/thanksgiving-oviraptor.png#wide" title="Holiday Oviraptor" caption="Oviraptor was a dog-sized omnivore from Cretaceous China. Though dromaeosaurs (Velociraptor and kin) are more closely related to birds than oviraptorosaurs, the latter share a lot of convergent characteristics with birds such as a fan of tail feathers and a toothless beak."%}
                
            </ul>
            <div>
                <a href="/art/winter-2022">Older Art</a>
            </div><!-- .post-tags -->
        </div><!-- .entry-box -->
    </div><!-- .inner -->
</main><!-- .site-main -->