---
layout: default
title: Art Gallery
---

<main id="main" class="site-main">
    <div class="post-full inner">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>
        <p>Here you will find a selection of my original paleoart compiled onto one page, listed from newest to oldest. You can also find them in their original posts (linked at the top of each section), which also contain more detailed captions and other info.</p>
        <div class="post-content inner">
            <h2 id="fall-2020">Winter 2020-21</h2>
            <p><a href="https://obscuredinosaurfacts.com/blog/post/2021/03/10/winterart.html">Winter Art original post</a></p>
            <ul class="archive-posts-list">
                {% include image-caption.html imageurl="/assets/images/posts/more-bird-sketches.png#wide" title="more bird sketches" caption="Birds sketched from photo reference, with satirical commentary." %}

                {% include image-caption.html imageurl="/assets/images/posts/land-before-time3.png#wide" title="Land Before Time 3" caption="Ducky (green), Cera (orange), and Chomper (purple), in more realistic forms." %}

                {% include image-caption.html imageurl="/assets/images/posts/pterodaustro.png#wide" title="pterodaustro" caption="The goose-sized, stocky, filter-feeding pterosaur, Pterodaustro." %}

                {% include image-caption.html imageurl="/assets/images/posts/bird-sketches-3.png#wide" title="even more bird sketches" caption="Even more birds sketched from photo reference, some from my own photos.  Some rarer / more specific personality types this time." %}

                {% include image-caption.html imageurl="/assets/images/posts/teoxys.png#wide" title="Teoxys" caption="Tyrannosaurus in the coloration of the Pokémon Deoxys." %}

                {% include image-caption.html imageurl="/assets/images/pages/snowy-unenlagiine2.jpg#wide" title="Snowy unenlagiine" caption="A small unenlagiine hunts among the rocks for worms." %}
                
            </ul>
            <div>
                <a href="/art/fall-2020">Older Art</a>
            </div><!-- .post-tags -->
        </div><!-- .entry-box -->
    </div><!-- .inner -->
</main><!-- .site-main -->