---
layout: default
title: Art Gallery
---

<main id="main" class="site-main">
    <div class="post-full inner">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>
        <p>Here you will find a selection of my original paleoart compiled onto one page, listed from newest to oldest. You can also find them in their original posts (linked at the top of each section), which also contain more detailed captions and other info.</p>
        <div class="post-content inner">
            <h2 id="summer-2020">Summer 2020</h2>
            <p><a href="https://obscuredinosaurfacts.com/blog/post/2020/08/05/summer-art.html">Summer Art original post</a></p>
            <ul class="archive-posts-list">
                {% include image-caption.html imageurl="/assets/images/pages/boreal.png#wide" title="Borealopelta" caption="Borealopelta in a burned forest." %}

                {% include image-caption.html imageurl="/assets/images/posts/kulinda5.png#wide" title="Kulindadromeus" caption="Kulindadromeus amongst the leaf litter." %}

                {% include image-caption.html imageurl="/assets/images/posts/kongona.png#wide" title="Kongonaphon" caption="Kongonaphon, the brand-new basal ornithodiran." %}
                
                {% include image-caption.html imageurl="/assets/images/posts/kings.png#wide" title="Kings of the Cretaceous" caption="Quetzalcoatlus, Mosasaurus, and Alamosaurus." %}
                
                {% include image-caption.html imageurl="/assets/images/posts/claws.png#wide" title="Claws" caption="Large clawed herbivores throughout history: Nothronychus, Anisodon, Megalonyx, and giant panda." %}

                {% include image-caption.html imageurl="/assets/images/posts/gracili.png#wide" title="Graciliraptor" caption="Graciliraptor, the small microraptorine from Yixian, floofs itself against a drizzle." %}

                {% include image-caption.html imageurl="/assets/images/posts/dromaeopodus.png#wide" title="Dromaeopodus" caption="Dromaeopodus is the name of a footprint fossil from Early Cretaceous China.  Here, the track-maker shows off its toe beans." %}

                {% include image-caption.html imageurl="/assets/images/posts/prot.png#wide" title="Protarchaeopteryx" caption="Protarchaeopteryx, a little dinosaur of uncertain affinity from the Yixian Formation." %}
            </ul>
            <div>
                <a href="/art/index">Back to Newer</a>
                <a href="/art/may-2020">Older Art</a>
            </div><!-- .post-tags -->
        </div><!-- .entry-box -->
    </div><!-- .inner -->
</main><!-- .site-main -->