---
layout: default
title: Art Gallery
---

<main id="main" class="site-main">
    <div class="post-full inner">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>
        <p>Here you will find a selection of my original paleoart compiled onto one page, listed from newest to oldest. You can also find them in their original posts (linked at the top of each section), which also contain more detailed captions and other info.</p>
        <div class="post-content inner">
            <h2 id="winter-2022">Winter 2022</h2>
            <p><a href="https://obscuredinosaurfacts.com/post/2022/03/02/winterart.html">Winter Art original post</a></p>
            <ul class="archive-posts-list">
                {% include image-caption.html imageurl="/assets/images/posts/chasmaporthetes.png#wide" title="Chasmaporthetes" caption="A friend asked me to draw this woefully underrepresented ancient American hyena--the only American hyena. It was a cursorial hypercarnivore, like a cheetah, with long legs and a slender face compared to other hyenas. Its closest living relative is the aardwolf, an insectivorous hyena."%}
                
                {% include image-caption.html imageurl="/assets/images/posts/caracara-raptor.png#wide" title="Caracara Raptor" caption="Birds of prey are such a similar shape to small dromaeosaurs that just a few tweaks can make a caracara into a raptor."%}

                {% include image-caption.html imageurl="/assets/images/posts/wedge-tailed-raptor.png#wide" title="Wedge-Tailed Raptor" caption="This one was even easier--originally a wedge-tailed eagle."%}

                {% include image-caption.html imageurl="/assets/images/posts/stegouros.png#wide" title="Stegouros" caption="Stegouros, the macuahuitl-tailed ankylosaur."%}

                {% include image-caption.html imageurl="/assets/images/posts/birb5.png#wide" title="Birb5" caption="The last set of bird drawings I did for my field guide. These personalities ended up being more negative than average, as I was running out of ideas."%}

                {% include image-caption.html imageurl="/assets/images/posts/birb4.png#wide" title="Birb4" caption="The second-to-last set of bird drawings I did for my field guide. I think these were some of the the highest-quality drawings of the bunch, but the oddest personalities."%}

                {% include image-caption.html imageurl="/assets/images/posts/birb3.png#wide" title="Birb3" caption="The third set of bird drawings I did for my field guide. These are my favorites!"%}

                {% include image-caption.html imageurl="/assets/images/posts/triceratops.gif#wide" title="Triceratops" caption="A Triceratops tosses its head. The frill counterbalanced the horns and snout to make this movement effortless."%}

                {% include image-caption.html imageurl="/assets/images/posts/dromornis.png#wide" title="Dromornis" caption="Two enormous duck-relatives go for a swim. They would not have been good swimmers, but animals often do things they shouldn't."%}

                {% include image-caption.html imageurl="/assets/images/posts/myotragus.png#wide" title="Myotragus" caption="The cold-blooded, binocular-eyed, horn-eating goat, Myotragus, which lived disturbingly recently."%}
                
            </ul>
            <div>
                <a href="/art/summer2022">Back to Newer</a>
                <a href="/art/summer-2021">Older Art</a>
            </div><!-- .post-tags -->
        </div><!-- .entry-box -->
    </div><!-- .inner -->
</main><!-- .site-main -->